body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.utm-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-height: 50px;
    margin-bottom: 10px;
}

.utm-form h1 {
    font-size: 18px;
    color: #333;
}

.utm-form input, .utm-form select {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.utm-form textarea, .utm-form p.comment {
    width: 100%;
    margin-top: 5px;  /* Spacing after inputs and selects */
    margin-bottom: 15px; /* Space before the next element */
    font-size: 12px;
    color: #666;
    background: none;
    border: none;
    outline: none;
    resize: none; /* Disables resizing of the textarea */
}

.utm-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.utm-form button:hover {
    background-color: #0056b3;
}

#generatedUrl {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    word-wrap: break-word;
    border: dashed 1px #ccc;
}
